

<ng-template #content let-modal>
    <div class="modal-header" style="text-align: center;">
      <h4 class="modal-title" id="modal-basic-title" >Add a new chef</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="chefForm">
        <div class="form-group">
          <label for="FirstName">First Name :</label>
            <input type="text" formControlName="fname" class="form-control" placeholder="First name" id="FirstName" >
        </div>
        <div class="form-group">
            <label for="LastName">Last Name :</label>
              <input type="text" formControlName="lname" class="form-control" placeholder="Last name" id="FirstName">
          </div>
          <div class="form-group">
            <label for="Location">Location :</label>
              <input type="text" formControlName="location" class="form-control" placeholder="Location" id="FirstName" >
          </div>
          <div class="form-group">
            <label for="PhoneNumber">Phone Number :</label>
              <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Phone Number" id="PhoneNumber" >
          </div>
          <div class="form-group">
            <label for="NICNumber">NIC Number :</label>
              <input type="text" formControlName="NICNumber"  class="form-control" placeholder="NIC Number" id="NICNumber">
          </div>
          <div class="row">
              <div class="col">
                <button type="button" class="btn btn-danger btn-small" style="width: 80%;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">Cancel</span>
                  </button>
              </div>
              <div class="col">
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-small" style="width: 80%;" (click)="onSubmit()">Save</button>
                  </div>
              </div>
          </div>
         
          
      </form>
    </div>
</ng-template>


<ng-template #delete let-modal>
    <div class="modal-header" style="background-color: #838181;color: #ffffff;">
      <h6 class="modal-title">Attention</h6>
    </div>
    <div class="modal-body">
        <h6>Do you really want to delete this chef?</h6>
        <div class="row">
            <div class="col">
              <button type="button" class="btn btn-danger btn-small" style="width: 80%;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">Cancel</span>
                </button>
            </div>
            <div class="col">
              <div class="form-group">
                  <button type="button" class="btn btn-success btn-small" style="width: 80%;" (click)="modal.close('Save click')">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
  </ng-template>




<div class="card" style="width: 100%;height: 200%;padding-top: 20px;">
    <div class="card-title">
        <div class="row">
            <div class="col">
                <h4 style="font-family: Product Sans;font-weight: bold;">List of Chefs</h4>
            </div>
            <div class="col">
                <button class="btn btn-small btn-success" (click)="open(content)">+ Add Chef</button>
            </div>
        </div>
         
    </div>








    <div>
        <div class="row" style="padding-inline-start: 30;">
         <hr>   
        <div class="col" *ngFor="let chef of cheflist">
            <div class="card chef"  *ngIf="chef.payload.doc.data().fname">
                <i class="fas fa-trash-alt" style="color:red;padding: 10px;size: 5ex;cursor: pointer;" (click)="opendel(delete)"></i>
                <div class="card-body" style="text-align: center;">
                    <img class="imgchef" src="../../assets/chef1.png"  width="92px" height="92px">
                        <div class="card-text" style="font-family: Product Sans;font-weight: bold;">
                            {{ chef.payload.doc.data().fname + ' '+ chef.payload.doc.data().lname }}
                        <p style="color: #838181;font-size: 10px;">{{chef.payload.doc.data().location}}</p>
            
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 10px;">Total orders</p><hr>
                                <p>{{chef.payload.doc.data().orders}}</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 10px;">Active Months</p><hr>
                                <p>{{chef.payload.doc.data().active}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            
        </div>
        

    </div> 
        
</div>


