<br>
<br>
<div class="row">
    <div class="col">
        <div class="round">{{numberOfChef}}</div><br>
        <div style="font-weight: bold;">Total Number of<br> Chef</div>
    </div>
    <div class="col">
        <div class="round">{{numberOfUser}}</div><br>
        <div style="font-weight: bold;">Total Number of<br> Users</div>
    </div>
    <div class="col">
        <div class="round">{{numberOfOrder}}</div><br>
        <div style="font-weight: bold;">Total Number of<br> Orders</div>
    </div>
</div>