
  <div class="container-fluid">
    <div class="row">
      <nav class="d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky" style="background-color: #22B573;color: white;padding-top: 80px;border-radius: 10px;">
           
            <div style="padding-left: 30;margin-left: 50px;"> <img src="../../assets/avatar.png" style="border: 5px solid white; border-radius: 100%;"></div>
        
            <div style="padding-left: 30;margin-left: 27px;"><h3 class="dash">Hirishigan</h3></div>   

          <ul class="nav flex-column">
            <li class="nav-item dash">
                <span data-feather="home"></span>
                Overview <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item dash">  
                <span data-feather="file"></span>
                Chef Management
            </li>
            <li class="nav-item dash">
                <span data-feather="shopping-cart"></span>
                Review Management
            </li>
            <li class="nav-item dash">
                <span data-feather="users"></span>
                Download Reports
            </li>
            <li class="nav-item dash">
                <span data-feather="bar-chart-2"></span>
                Settings
            </li>
            <li class="nav-item dash">
                <span data-feather="layers"></span>
                <button type="button" class="btn btn-light">Logout</button>
            </li>
          </ul>
  </div>