<h5 style="margin-top: 100px;">Download Report</h5>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                
            <div class="card-image">
                <img src="../../assets/chef3.png" style="border-radius: 20px;">
            </div><br>
            <h6 style="color: grey;font-weight: bolder;">Sellaiah Ramasamy</h6><br>
            <div class="row">
                <div class="col">
                    <h6 style="font-weight: bold;">Address</h6>
                </div>
                <div class="col">
                    <h6>No 10, Moor street, Colombo 06</h6>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6 style="font-weight: bold;">Phone Number</h6>
                </div>
                <div class="col">
                    <h6>+94779967314</h6>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6 style="font-weight: bold;">NIC</h6>
                </div>
                <div class="col">
                    <h6>960611551V</h6>
                </div>
            </div><br>
            <h6 style="font-weight: bold;">Order Details</h6>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>Total Orders</h6>
                        </div>
                        <div class="col">
                            <h6>300</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Total Orders Accepted</h6>
                        </div>
                        <div class="col">
                            <h6>250</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Total Orders Declined</h6>
                        </div>
                        <div class="col">
                            <h6>50</h6>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 style="font-weight: bolder;">Your Review</h6><br>
                <h6 style="color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed suscipit 
                    pariatur quod maiores odio eos officia,
                    quis id nihil, rerum sint recusandae repellat unde non aliquam deserunt at culpa.</h6><br>

                <div class="row">
                    <div class="col">
                        <h6 style="font-weight: bolder;">Your Rating</h6>
                    </div>
                    <div class="col">
                        <h6 style="font-weight: bolder;color: #22B573;">4.0</h6><br>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col">
                        <h6 style="font-weight: bold;">Total Income</h6>
                    </div>
                    <div class="col">
                        <h6>Rs.300000.00</h6>
                    </div>
                </div>
                
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>Pickup</h6>
                        </div>
                        <div class="col">
                            <h6>Rs.15000.00</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Door delivery</h6>
                        </div>
                        <div class="col">
                            <h6>Rs.10000.00</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Dine in</h6>
                        </div>
                        <div class="col">
                            <h6>Rs.5000.00</h6>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col"></div>
                <div class="col"><button class="btn btn-success" style="background-color: #22B573;" (click)="open(content)">Generate Report</button></div>
                <div class="col"></div>
            </div>
            </div>
        </div>
       
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-body">
     <div class="card">
         <div class="card-body">
             <div class="row">
                 <div class="col">
                     <img src="../../assets/logo.png" alt="">
                 </div>
                 <div class="col">
                     <h6>Company Details</h6><br>
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Similique soluta facere consequuntur veritatis eos?
                      Perferendis blanditiis atque repudiandae iure, officiis.
                      
                 </div>
             </div>
             <hr>
             <h5 style="font-weight: bolder;text-align: center;">Report Type (Monthly/Year)</h5>
             <p style="text-align: center;color: grey;">Month/Year</p><br>
             <h6 style="font-weight: bold;">Chef Name</h6><br>

             <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Food Name</th>
                    <th scope="col">Ref.No</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>  
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>  
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>  
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>  
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>  
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <h6 style="text-align: right;">TOTAL  -  Rs.130000.00</h6><br>

              <div class="row">
                  <div class="col">
                    <div class="row">
                        <div class="col-md-9">
                            <h6>Total Number of Orders Recieved</h6>
                        </div>
                        <div class="col">
                            <h6>200</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h6>Total Number of Orders Accepted</h6>
                        </div>
                        <div class="col">
                            <h6>150</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h6>Total Number of Orders Declined</h6>
                        </div>
                        <div class="col">
                            <h6>50</h6>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Total Income</h6>
                        </div>
                        <div class="col">
                            <h6>Rs.123000.00</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Tax Paid</h6>
                        </div>
                        <div class="col">
                            <h6>Rs.13000.00</h6>
                        </div>
                    </div>
                  </div>
                  <div class="col">
                      <div class="row">
                          <div class="col"></div>
                          <div class="col">
                            <img src="../../assets/qr.png">
                          </div>
                          <div class="col"></div>
                      </div>
                  </div>
              </div>

         </div>
     </div>
    </div>
</ng-template>