<p>
    <button type="button" class="btn btn-outline-success wide" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
      +     Most Ordered foods    
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed1">
    <div class="card content">
      <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="jumbotron">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    <button type="button" class="btn btn-outline-success wide" (click)="isCollapsed2 = !isCollapsed2"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">
      +     Most Popular cooks    
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed2">
    <div class="card content">
      <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="jumbotron">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <p>
    <button type="button" class="btn btn-outline-success wide" (click)="isCollapsed3 = !isCollapsed3"
            [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample">
      +     Most Ordered customers    
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed3">
    <div class="card content">
      <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="jumbotron">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="jumbotron">
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>



  <p>
    <button type="button" class="btn btn-outline-success wide" (click)="isCollapsed4 = !isCollapsed4"
            [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample">
      +     Total orders   
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed4">
    <div class="card content">
      <div class="card-body">
        <div class="row">
          
        </div>
      </div>
    </div>
  </div>

  <p>
    <button type="button" class="btn btn-outline-success wide" (click)="isCollapsed5 = !isCollapsed5"
            [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseExample">
      +     Total Income   
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed5">
    <div class="card content">
      <div class="card-body">
        You can collapse this card by clicking Toggle
      </div>
    </div>
  </div>