
<br>
<h4 style="font-weight: bolder;">Review Management</h4><hr>

<div class="row">
    <div class="col" *ngFor="let chef of chefs">
        <div class="card" style="width: 250px;border-radius: 15px;">
            <div class="card-body">
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="card-image">
                            <img src="{{chef.Img}}" style="border-radius: 20px;width: 200px;height: 200px;">
                        </div><br>
                    </div>
                    <div class="col">

                    </div>
                </div>
                
                <div class="card-title" style="font-weight: bolder;text-align: center;">
                    {{chef.name}}
                </div>
               <a [routerLink]="['reviewNlp',chef.id]"><button class="btn btn-sm btn-success" style="background-color: #22b573;" >+ Add review</button></a> 
                <h6>Your review :</h6><br>
                <div class="card-text">
                   {{chef.admin_review}}
                </div><br>
                <h6>Your rating :   4.1</h6><br>
            </div>
        </div>
    </div>

   

    
</div>
